.logo_container {
	text-align: center;
}

.logo_text {
	font-family: Serif;
}

.login_area {
	text-align: center;	
}

.user-photo {

}

.img_polaroid {

}

#username_field {
	display: none;
}

#password_field {
	display: none;
}

#login_button {
	display: none;
}
